my.cnf
=======

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
innodb_use_sys_malloc=0
slow_query_log = ON
long_query_time=1

symbolic-links=0
max_allowed_packet = 64M
sql_mode=NO_ENGINE_SUBSTITUTION

query_cache_limit=2M
query_cache_size=64M
query_cache_type=1

 max_connections=400
 interactive_timeout=30
 wait_timeout=30
 connect_timeout=10
bind-address=103.1.93.244

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
